header {
    background-color: rgb(223, 210, 193);
    padding: 20px 0px;
}

.caixa {
    position: relative; /*Ela sobrepõem o posicionamento absoluto da nav */
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav li {
    display: inline;
    margin-left: 15px;
    
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.produtos {
    width:940px;
    margin: 0 auto;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top; /*Orientar pela linha de cima */
    padding-top: 50px;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*Faz com que o padding fique dentro dos 30% do width */
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.descricao {
    font-size: 18px;
}

.preco{
    font-weight: bold;
    margin-top: 10px;
}


